[Desktop Entry]
Name=Spider Gantt
Exec=/home/jheulot/bin/GanttDisplay.jar -f 
MimeType=application/spider-gantt
Terminal=false
Type=Application
Categories=                        
Comment=

